html {
background-color: #f8ece0
}
  img {
  max-width: 100%;
  border-radius: 50%;
}
@media screen and (min-width: 300px) {
  header{
      text-align: center;
      color: white;
      background-color: maroon;
  }
  .nav{
      text-align: center;
      color: white;

  }
  .nav ul li {
      display:inline;
  }
  .nav ul{
      padding: 0;
  }
  a:link, :visited{
      color: white;
  }
  a:hover{
      color: lightblue;
  }
#AboutMe {
  text-align: center;
  font-size: 20px;
  font-family: 'McLaren', cursive;
}
#Information {
position: relative;
font-size: 20px;
display: table-cell;
line-height: 30px;
vertical-align: middle;
text-align: center;
font-family: 'McLaren', cursive;
}
#Belt {
  font-size: 20px;
  padding-top: 200px;
  line-height: 30px;
  vertical-align: center;
  text-align: center;
}
.Vince2 img {
  width: 300px;
  height: 300px;
  position: absolute;
  top: 300px;
  left: 20px;
}
.Knot {
  top: 150px;
  width: 300px;
}
.Vince1 img {
  bottom: 300px;
  width: 250px;
  top: 500px;
}
}
@media screen and (min-width: 768px) {
  header{
      text-align: center;
      color: white;
      background-color: maroon;
  }
  .nav{
      text-align: center;
      color: white;

  }
  .nav ul li {
      display:inline;
  }
  .nav ul{
      padding: 0;
  }
  a:link, :visited{
      color: white;
  }
  a:hover{
      color: lightblue;
  }
#AboutMe {
  font-size: 20px;
  top: 40px;
  vertical-align: middle;
  text-align: center;
  line-height: 30px;
  font-family: 'McLaren', cursive;
  padding-right: 30px;
  padding-left: 30px;
}
#Information {
position: absolute;
font-size: 20px;
display: table-cell;
line-height: 30px;
vertical-align: middle;
text-align: center;
font-family: 'McLaren', cursive;
padding-top: 50px;
padding-bottom: 50px;
padding-right: 300px;
padding-left: 300px;
}
#Belt {
  font-size: 20px;
  padding-top: 400px;
  line-height: 30px;
  vertical-align: center;
  text-align: center;
}

.Knot {
  float: right;
  top: 150px;
  right: 20px;
  position: absolute;
  width: 300px;
}

.Vince {
  float: left;
  top: 150px;
  left: 20px;
  position: absolute;
  width: 300px;
}
