html {
background-color: #f8ece0
}
  img {
  max-width: 100%;
  border-radius: 50%;
}
@media screen and (min-width: 300px) {
  header{
      text-align: center;
      color: white;
      background-color: maroon;
  }
  .nav{
      text-align: center;
      color: white;

  }
  .nav ul li {
      display:inline;
  }
  .nav ul{
      padding: 0;
  }
  a:link, :visited{
      color: white;
  }
  a:hover{
      color: lightblue;
  }
#AboutMe {
  text-align: center;
  font-size: 13px;
  font-family: 'McLaren', cursive;
}
}
@media screen and (min-width: 768px) {
  header{
      text-align: center;
      color: white;
      background-color: maroon;
  }
  .nav{
      text-align: center;
      color: white;

  }
  .nav ul li {
      display:inline;
  }
  .nav ul{
      padding: 0;
  }
  a:link, :visited{
      color: white;
  }
  a:hover{
      color: lightblue;
  }
#AboutMe {
  position: relative;
  padding: 30px;
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  font-family: 'McLaren', cursive;
}
.Vince1 img {

}
}
